* {
	margin: 0;
	padding: 0;
}
.main-container {
	background: url("refrigerator.png") no-repeat center center;
	height: 1532px;
	width: 700px;
	margin: 0 auto;
}

.magnet {
  border: 3px solid black;
  padding: 5px 10px;
  width: 100%;
  max-width: 120px;
  text-align: center;
  background: white;
  text-transform: uppercase;
  font-family: "Impact", sans-serif;
}
.drag { 
  position: relative; 
}
